{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<title>Archangel Target</title>
<body>
    <div class="container">
        <div class="left"><img src="{% static 'Picture1.png'  %}" /></div>

        <div class="center">
            <p class="en">
                This is not the target file but just a gateway that you can use
                to try to access the target file which is on a server protected
                by ARCHANGEL.
            </p>
            <hr />
            <p class="id">
                Ini bukan file targetnya tetapi hanya gateway yang dapat Anda
                gunakan untuk mencoba mengakses file targetnya yang ada di
                server yang diproteksi oleh ARCHANGEL.
            </p>
            <hr />
            <p class="fr">
                Ceci n'est pas le fichier cible mais juste une passerelle que
                vous pouvez utiliser pour essayer d'accéder au fichier cible qui
                se trouve sur un serveur protégé par ARCHANGEL.
            </p>
        </div>

        <div class="right"><img src="{% static 'Picture2.png'  %}" /></div>
    </div>
</body>

<script src="{% static 'js/script.js' %}"></script>
